VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxhl8CL2LF680dfiehgH8_JJCefNQTldRRfnlV85_io6ynZITHpHliOnKfUgyHS3jCI/exec
VITE_SECRET_KEY=albion_bm_tracker_8xQ2mP_2026_private
VITE_POLLING_INTERVAL_MS=5000